<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="RavenConnectionString" connectionString="Url = http://localhost:8080; Database = pragmatic-example" />
    <add name="EntityFrameworkConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=pragmatic-example;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="DefaultUnitOfWorkType" value="Pragmatic.Raven.UnitOfWork, Pragmatic.Raven"/>-->
    <!--<add key="DefaultUnitOfWorkType" value="Pragmatic.NHibernate.UnitOfWork, Pragmatic.NHibernate" />-->
    <add key="DefaultUnitOfWorkType" value="Pragmatic.EntityFramework.UnitOfWork, Pragmatic.EntityFramework" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>